#html1{
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 20px;

}

.satauri1 {
	color: 	#FF0000;
	font-size: 25px;
	margin-left: 30px;
	margin-bottom: 1px;
	margin-top: 20px;

}

.satauri2 {
	color: 	#0000FF;
	font-size: 25px;
	margin-left: 30px;
	margin-top: 1px;
	margin-bottom: 1px;
}


.satauri3 {
	color: 	#0000FF;
	font-size: 25px;
	margin-left: 30px;
	margin-top: 1px;
	margin-bottom: 40px;
}

.dates {
	margin-left: 30px;
	color: white;
	background-color: darkblue;
	font-size: 90px;
}


.dates2 {
	margin-left: 30px;
	color: blue;
	font-size: 40px;
}

.headers {
	margin-left: 30px;
	color: blue;
}


.textimages {
	margin-left: 30px;
	margin-bottom: 100px;
}

p{
	margin-left: 30px;
	margin-right: 100px;
	color: blue;
	margin-bottom: 100px;

}

#floater {
	float: right;
}

#floater1 {
	float: right;
}
 
 #floater2 {
	float: right;
}


#fbimage {
	margin-top: 30px;
	margin-bottom: 30px;
}

#ytimage {
	margin-left: 1px;
	margin-bottom: 30px;
	margin-top: 30px;
}