#html1{
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 13.5px;

}

.satauri1 {
	color: 	#FF0000;
	font-size: 25px;
	margin-left: 30px;
	margin-bottom: 1px;
	margin-top: 13.5px;

}

.satauri2 {
	color: 	#0000FF;
	font-size: 25px;
	margin-left: 30px;
	margin-top: 1px;
	margin-bottom: 1px;
}


.satauri3 {
	color: 	#0000FF;
	font-size: 25px;
	margin-left: 30px;
	margin-top: 1px;
}


#bannerimage {
	margin-top: 25px;
	margin-left: 30px;
	margin-bottom: 15px;
}

#fbimage {
	margin-top: 30px;
	margin-bottom: 30px;
}

#ytimage {
	margin-left: 1px;
	margin-bottom: 30px;
	margin-top: 30px;
}